<!-- masthead -->
<div class="ui masthead segment blue-round-gradient">
  <div class="ui page grid">
    <div class="column">
        
        {% include menu.html %}

        <h1 class="header-3d header-3d-center">{{ site.tagline }}</h1>

        <div class="ui stackable grid">
                  
          <div class="row">
            <div class="sixteen wide column">
              <h2 class="slim-header-light">{{ site.description }}</h2>
            </div>
          </div> <!-- .row -->

          <div class="row">
            <div class="sixteen wide column">
              <p style="color: #fff">A prime gap is the difference between successive prime numbers; it constitutes a first occurrence when no preceding gap has an equal value. A first occurrence prime gap is maximal if the gap strictly exceeds all preceding gaps.</p>
              <p style="color: #fff"> The merit <math>M</math> of a prime gap of measure <math>g</math> following the prime <math>p<sub>1</sub></math> is defined as <math>M=g/ln(p<sub>1</sub>)</math>. It is the ratio of the measure of the gap to the “average” measure of gaps near that point; as a consequence of the Prime Number Theorem, the average difference between consecutive primes near <math>x</math> is approximately <math>ln(x)</math>.</p>
              <p><i style="color: #fff; font-size: 80%">(While most puns make me feel oddly numb, mathematical puns make me feel even number)</i> <a href="https://www.mersenneforum.org/showpost.php?p=521693&postcount=753">*</a></p>
            </div>
          </div> <!-- .row -->
        </div> <!-- .grid -->
    </div>
  </div>
</div>
<!-- /masthead -->
