<div class="ui menu">
  <a class="header item" href="/">Prime gap list project</a>
  <div class="right menu">
    <a class="item menu-details {% if page.title == 'News' %}active{% endif %}" href="/news/" data-position="bottom left" data-content="News"><i class="blue comments icon"></i></a>
    <a class="item menu-details {% if page.title == 'Lists' %}active{% endif %}" href="/lists/" data-position="bottom left" data-content="Sorted lists"><i class="blue flag icon"></i></a>
    <a class="item menu-details {% if page.title == 'Graphs' %}active{% endif %}" href="/graphs/" data-position="bottom left" data-content="Graphs"><i class="blue chart line icon"></i></a>
    <a class="item menu-details {% if page.title == 'FAQ' %}active{% endif %}" href="/faq/" data-position="bottom left" data-content="Frequently-asked questions"><i class="blue question circle icon"></i></a>
    <a class="item menu-details {% if page.title == 'Key to abbreviations' %}active{% endif %}" href="/abbreviations/" data-position="bottom left" data-content="Key to abbreviations"><i class="blue users icon"></i></a>
    <div class="item">
      <div class="ui transparent mini icon input">
        <input type="text" placeholder="Search..." class="menu-search">
        <i class="search link icon"></i>
      </div>
    </div>
    {% if site.pagebar %}
      <a class="mobile item pagebar" href="#"><i class="icon content"></i></a>
      <a class="item pagebar" href="#"><i class="icon content"></i></a>
    {% endif %}
  </div>
</div>
