<div class="ui right vertical sidebar menu">
    <div class="item">
      <div class="ui transparent mini icon input">
        <input type="text" placeholder="Search..." class="menu-search">
        <i class="search link icon"></i>
      </div>
    </div>


    <a class="item" href="/lists/"><i class="table icon"></i> Tables of data<span class="ui paleblue mini label"> {{ site.lists | size  }}</span></a>

    <a class="item" href="/graphs/"><i class="chart line icon"></i> Graphs of data<span class="ui paleblue mini label"> {{ site.graphs | size  }}</span></a>

    <a class="item" href="/news/"><i class="comments icon"></i> News posts <span class="ui paleblue mini label"> {{ site.tags.post | size  }}</span></a>

    <a class="item" href="/tag/"> <i class="tags icon"></i> Tag Browser <span class="ui paleblue mini label"> {{ site.tags | size  }}</span></a>

    <a class="item" href="/category/"> <i class="bookmark icon"></i> Category List <span class="ui paleblue mini label"> {{ site.categories | size  }}</span></a>

    <a class="item" href="/about/"> <i class="info circle icon"></i> About the project</a>

    <a class="item" href="/abbreviations/"> <i class="user icon"></i> Key to abbreviations</a>

    <a class="item" href="/bibliography/"><i class="book icon"></i> Bibliography</a>

    <a class="item" href="/fully-analyzed/"> <i class="star outline icon"></i> Analyzed prime gaps</a>


</div>
