<div class="ui vertical segment">
  <div class="ui page grid">
    <div class="column">
      <div class="ui centered inline inverted dimmer">
        <div class="ui text loader">Your browser is now assembling the table contents, it will take a few moments ...</div>
      </div>
      <div class="row">
        <p></p>
      </div>
      <div class="row">
        <table id="ranking" class="ui striped collapsing very compact small celled table" style="font-size:0.8em">
          <thead><tr><th>Rank</th><th>Gap Size</th><th>Gap start</th><th>Merit</th><th>Discoverer</th><th>Year</th></tr></thead>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
