  {% include head.html %}
  <style type="text/css">
    #creditstable {min-height: 28em;}
  </style>
  </head>
  <body class="global landing">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% if site.pagebar %}
    {% include page-bar.html %}
    <div class="pusher">
    {% endif %}
      {% include landing-header.html %}
      {{ content }}
      {% include footer.html %}
    {% if site.pagebar %}
    </div>
    {% endif %}

    {% include js.html %}

    <script>
    $(document).ready(function() {
    
      var data, tdata = "";
      xhrDoc = new XMLHttpRequest();   

      xhrDoc.open('GET', "https://raw.githubusercontent.com/primegap-list-project/primegap-list-project.github.io/master/_data/credits.csv")
      if (xhrDoc.overrideMimeType)
          xhrDoc.overrideMimeType('text/plain; charset=utf-8')

      function parseentry(val, index) {
        if (index == 0)
            return val;
        else if (index == 1)
            return val;
        else
          return val;
      };

      function order_by_abbreviation(a, b) {
       if (a[0] < b[0]) return -1;
       if (a[0] > b[0]) return 1;
       return 0;
      };

      xhrDoc.onreadystatechange = function() {
      $('.ui.dimmer').dimmer('show');
        if (this.readyState == 4)
        {
          if (this.status == 200)
          {
            csv = this.response; //Here is a string of the text data
            data = $.csv.toArrays(csv);
            console.log(data);
            console.log(data[0]);
            // Parse the csv strings into objects as appropriate
            var e = document.createElement("tbody");
            for (row of data.entries()) {
              html = `<tr>
<td>${row[1][0]}</td><td>${row[1][1]}</td><td>${row[1][2]}</td></tr>`
              e.innerHTML += html;
              }
            document.getElementById("abbrevkeys").appendChild(e);
            $('.ui.dimmer').dimmer('hide');
            };
          }
        }
      xhrDoc.send() //sending the request      
    });
    </script>
  </body>
</html>
