{% include head.html %}
  </head>
  <body class="global landing metrics">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% if site.pagebar %}
    {% include page-bar.html %}
    <div class="pusher">
    {% endif %}
        {% include landing-header.html %}
        {{ content }}
        {% include footer.html %}
    {% if site.pagebar %}
    </div>
    {% endif %}

    {% include js.html %}
    <script src='/js/dist/sql-wasm.js'></script>
    <script>

    function paginate (array, page_size, page_number) {
      --page_number; // because pages logically start with 1, but technically with 0
      return array.slice(page_number * page_size, (page_number + 1) * page_size);
    };

    function abbrevkeys(db) {
      // Title
      var dbresult = db.prepare('select * from credits ORDER by abbreviation');
      dbresult.getAsObject({$start:1, $end:1}); // {col1:1, col2:111}
      dbresult.bind({$start:1, $end:2});
      e = document.createElement("tbody");
      cnt = 0;
      while(dbresult.step()) {
        var row = dbresult.getAsObject();
        cnt += 1;
        e.innerHTML += `<tr><td class="abbr">${row["abbreviation"]}</td><td class="disc">${row["name"]}</td><td class="ack">${row["ack"]}</td></tr>`
      }
      return e;
    };

    $(document).ready(function() {
      $('.ui.dimmer').dimmer('show');
      console.log("dblocation" + dblocation);
      config = {locateFile: filename => `/js/dist/${filename}`};
      // The `initSqlJs` function is globally provided by all of the main dist files if loaded in the browser.
      // We must specify this locateFile function if we are loading a wasm file from anywhere other than the current html page's folder.
      initSqlJs(config).then(function(SQL){

        var xhr = new XMLHttpRequest();
        xhr.open('GET', dblocation, true);
        xhr.responseType = 'arraybuffer';
        xhr.onreadystatechange = function() {
          if (this.readyState == 4)
          {
            if (this.status == 200)
            {
              // Top 20 by merit
              var uInt8Array = new Uint8Array(this.response);
              var db = new SQL.Database(uInt8Array);
              document.getElementById("abbrevkeys").appendChild(abbrevkeys(db));
              $('.ui.dimmer').dimmer('hide');
            }
          }
        }
        xhr.send();
      });
    });
    </script>
      
  </body>

</html>
