  {% include head.html %}
  <style type="text/css">
    #rankingtable {min-height: 28em;}
  </style>
  </head>
  <body class="global landing">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% if site.pagebar %}
    {% include page-bar.html %}
    <div class="pusher">
    {% endif %}
        {% include landing-header.html %}
        <div class="ui vertical segment">
          <div class="ui page grid">
            <div class="column">
              <div class="ui centered inline inverted dimmer">
                <div class="ui text loader">Your browser is now assembling the table contents, it will take a few moments ...</div>
              </div>
              <div class="row" id="rankingtable">
                <table id="ranking" class="ui striped collapsing very compact small celled table"><thead><tr>
                  <th>Rank</th><th>Gap size</th><th>Gap start</th><th>Merit</th><th>Discoverer</th><th>Year</th>
                </tr></thead>
                </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% include footer.html %}
    {% if site.pagebar %}
    </div>
    {% endif %}

    {% include js.html %}

    <script>
    $(document).ready(function() {
    
      var data, tdata = "";
      xhrDoc = new XMLHttpRequest();   

      xhrDoc.open('GET', "https://raw.githubusercontent.com/gjhiggins/prime-gap-list/master/allgaps.csv")
      if (xhrDoc.overrideMimeType)
          xhrDoc.overrideMimeType('text/plain; charset=utf-8')

      function parseentry(val, index) {
        if (index == 0)
            return parseInt(val, 10);
        else if (index == 1)
          if (val == '1')
            return true;
          else
            return false;
        else if (index > 3 && index < 5)
          return val
        else if (index == 6)
          return parseInt(val, 10)
        else if (index == 7)
          return parseFloat(val, 10)
        else if (index == 8)
          return parseInt(val, 10)
        else
          return val;
      };

      function order_by_gapsize(a, b) {
       if (a[0] < b[0]) return -1;
       if (a[0] > b[0]) return 1;
       return 0;
      };

      function order_by_merit(a, b) {
       if (a[7] < b[7]) return -1;
       if (a[7] > b[7]) return 1;
       return 0;
      };

      function order_by_gapsize_and_merit(a,b) {
          retVal=0;
          if(a[7]!=b[7]) retVal=a[7]<b[7]?1:-1;
          else if(a[0]!=b[0]) retVal=a[0]<b[0]?1:-1;
          return retVal
      };

      xhrDoc.onreadystatechange = function() {
      $('.ui.dimmer').dimmer('show');
        if (this.readyState == 4)
        {
          if (this.status == 200)
          {
            csv = this.response; //Here is a string of the text data
            data = $.csv.toArrays(csv);
            console.log(data.length);
            // Parse the tsv strings into objects as appropriate
            csvdata = data.map(function(entry) {
              return entry.map(parseentry)
            });
            // console.log(tsvdata[94531]);
            top20 = csvdata.sort(order_by_gapsize_and_merit);
            top20 = top20.slice(0, 20);
            var e = document.createElement("tbody");
            cnt = 0;
            for (row of top20.entries()) {
              cnt += 1;
              var primestart = '';
              if (row[1][9].length > 80)
                primestart = row[1][9].slice(0, 20) + '...'
              else
                primestart = row[1][9]
              var gapstart = '';
              if (row[1][4] == 'P')
                gapstart = 'PRP' + row[1][8] + ' = ' + primestart
              else if (row[1][4] == 'C')
                gapstart = 'P' + row[1][8] + ' = ' + primestart
              else 
                gapstart = '? = ' + primestart
              html = `<tr><td class='right aligned'>${cnt}</td>
<td class='right aligned'>${row[1][0].toString().padStart(6, ' ')}</td> <td>${gapstart.padEnd(8, ' ')}</td><td class='center aligned'>${row[1][7].toFixed(2).toString().padStart(5, ' ')}</td> <td>${row[1][5]}</td><td>${row[1][6]}</td></tr>`
              e.innerHTML += html;
              }
            document.getElementById("ranking").appendChild(e);
            $('.ui.dimmer').dimmer('hide');
            };
          }
        }
      xhrDoc.send() //sending the request      
    });
    </script>
  </body>
</html>
