  {% include head.html %}
  <script src="https://d3js.org/d3.v5.js"></script>
  <script src="https://d3js.org/d3-color.v1.js"></script>
  <script src="https://d3js.org/d3-interpolate.v1.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js"></script> -->
<style>
.axis path,
.axis line { fill: none; stroke: #eee; shape-rendering: crispEdges; }
.axis text { font-family: sans-serif; font-size: 11px;}
.loading {font-family: sans-serif; font-size: 15px;}
.circle {fill: #222;}
</style>
</head>
  <body class="global landing">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% if site.pagebar %}
    {% include page-bar.html %}
    <div class="pusher">
    {% endif %}
      {% include landing-header.html %}
      {{ content }}
      {% include footer.html %}
    {% if site.pagebar %}
    </div>
    {% endif %}

    {% include js.html %}
    <script>

    var primedigitsdata = [];
    var gapsizedata = [];
    var creditsarray, gapsarray;

    function chartify(arr) {
        var discoverer = "{{ page.discoverer }}";
        var discoveries = arr.filter(function(a){return a[5] === discoverer});
        var sorted_discoveries = discoveries.sort(function(a, b) {return a[8] > b[8]});
        var row;
        var xdata = new Array;
        var ydata = new Array;
        var zdata = new Array;
        for (row of sorted_discoveries.entries()) {
          ydata.push(row[1][0]);
          xdata.push(row[1][8]);
          zdata.push(row[1][7]);
        }
        var margin = {top: 20, right: 15, bottom: 60, left: 60}, width = 960 - margin.left - margin.right, height = 500 - margin.top - margin.bottom;

        var interpolatedHue = d3.scaleLinear().domain([1, 41]).range(
          ['#9cc8e1', '#96c5e0', '#90c2de', '#8abfdd', '#84bbdb', '#7eb8da', '#78b5d8', '#72b1d7', '#6caed5', '#66aad3', '#61a7d1', '#5ba3d0', '#569fce', '#519ccc', '#4c98ca', '#4794c8', '#4391c6', '#3e8dc3', '#3a89c1', '#3585bf', '#3181bd', '#2d7dbb', '#2979b8', '#2574b6', '#2270b3', '#1e6cb0', '#1b68ae', '#1864aa', '#1560a7', '#125ca4', '#1058a0', '#0e549c', '#0c5097', '#0b4c92', '#0a488d', '#094487', '#084082', '#083b7c', '#083776', '#083370']);

      {% if page.xscale %}

        {% if page.xscale == 'scalePow' %}
        console.log("Setting x scale as Pow");
        var x = d3.scalePow()
                  .exponent(1.4)  // the range of the values to plot
                  .range([ 0, width ]);        // the pixel range of the x-axis
        {% elsif page.xscale == 'scaleLog' %}
        console.log("Setting x scale as Log");
        var x = d3.scaleLog()
                  .domain([1, d3.max(xdata)])  // the range of the values to plot
                  .range([ 1, width ]);        // the pixel range of the x-axis
        {% else %}
        console.log("Setting x scale as Linear");
        var x = d3.scaleLinear()
                  .domain([1, d3.max(xdata)])  // the range of the values to plot
                  .range([ 1, width ]);        // the pixel range of the x-axis
        {% endif %}
      {% endif %}

      {% if page.yscale and page.yscale == 'scalePow' %}
        console.log("Setting y scale as Pow");
        var y = d3.scalePow()
                  .exponent(1.4)
                  .range([ height, 0 ]);
      {% elsif page.yscale == 'scaleLog' %}
        console.log("Setting y scale as Log");
        var y = d3.scaleLog()
                  .domain([1, d3.max(ydata)])  // the range of the values to plot
                  .range([ height, 0 ]);
      {% else %}
        console.log("Setting y scale as Linear");
        var y = d3.scaleLinear()
                  .domain([1, d3.max(ydata)])  // the range of the values to plot
                  .range([ height, 1 ]);        // the pixel range of the x-axis
      {% endif %}

        // the chart object, includes all margins
        var chart = d3.select('#content')
          .append('svg:svg')
          .attr('width', width + margin.right + margin.left)
          .attr('height', height + margin.top + margin.bottom)
          .attr('class', 'chart')

        // the main object where the chart and axis will be drawn
        var main = chart.append('g')
          .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')')
          .attr('width', width)
          .attr('height', height)
          .attr('class', 'main')   

        // draw the x axis
        var xAxis = d3.axisBottom()
          .scale(x);
          //.orient('bottom');

        main.append('g')
          .attr('transform', 'translate(0,' + height + ')')
          .attr('class', 'main axis date')
          .call(xAxis);

        // draw the y axis
        var yAxis = d3.axisLeft()
          .scale(y)
          axisLabel: 'Label here';
          // .orient('left');

        main.append('g')
          .attr('transform', 'translate(0,0)')
          .attr('class', 'main axis date')
          .call(yAxis);

        // draw the graph object
        var g = main.append("svg:g"); 

        g.selectAll("scatter-dots")
          .data(ydata)  // using the values in the ydata array
          .enter().append("svg:circle")  // create a new circle for each value
              .attr("cy", function (d) { return y(d); } ) // translate y value to a pixel
              .attr("cx", function (d,i) { return x(xdata[i]); } ) // translate x value
              .attr("r", 2) // radius of circle
              .style("fill", function (d,i) { return interpolatedHue(zdata[1])/*d3.interpolateBlues(zdata[i]/zmax)/* /*return '#1f77b4'*/; });

        // main.append("text")
        //   .attr("text-anchor", "end")
        //   .attr("x", width)
        //   .attr("y", height + margin.top + 20)
        //   .text("Gap length");

        main.append("text")
          .attr("text-anchor", "end")
          .attr("x", width)
          .attr("y", height + margin.top + 20)
          .text("Prime digits");

        main.append("text")
          .attr("text-anchor", "end")
          .attr("transform", "rotate(-90)")
          .attr("y", -margin.left+10)
          .attr("x", -margin.top)
          .text("Gap size");
    };

    function parsegapentry(val, index) {
      if (index == 0)
          return parseInt(val, 10);
      else if (index == 1)
        if (val == '1')
          return true;
        else
          return false;
      else if (index > 3 && index < 5)
        return val
      else if (index == 6)
        return parseInt(val, 10)
      else if (index == 7)
        return parseFloat(val, 10)
      else if (index == 8)
        return parseInt(val, 10)
      else
        return val;
    };

    function getname() {
      var name = creditsarray.findIndex(function(credit) {
        return credit[0] == row[5];
      });
      return creditsarray[name][3];
    }

    $('.page.dimmer:first')
      .dimmer('toggle');

    $(document).ready(function() {
      $('.ui.dimmer').dimmer('show');
      $.when(
          $.get("https://raw.githubusercontent.com/primegap-list-project/primegap-list-project.github.io/master/_data/credits.csv"),
          $.get("https://raw.githubusercontent.com/primegap-list-project/primegap-list-project.github.io/master/_data/allgaps.csv")
      ).then(function(creditscsv, gapscsv) {
        creditsarray = $.csv.toArrays(creditscsv[0]);
        gapsarray = $.csv.toArrays(gapscsv[0]);
        var gapsentries = gapsarray.map(function(entry) {
            return entry.map(parsegapentry)
        });
        chartify(gapsentries);

        return;
      });
      $('.ui.dimmer').dimmer('hide');
    });
    </script>

  </body>
</html>
