  {% include head.html %}
  </head>

  <body class="global landing">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% if site.pagebar %}
    {% include page-bar.html %}
    <div class="pusher">
    {% endif %}
        {% include landing-header.html %}
        <div class="ui vertical segment">
          <div class="ui page grid">
            <div class = "column">
              <div class="ui centered inline inverted dimmer">
                <div class="ui text loader">Your browser is now assembling the table contents, it will take a few moments ...</div>
              </div>
              <div class="row">
                <div id="intervals">
              </div>
            </div>
          </div>
        </div>
        {% include footer.html %}
    {% if site.pagebar %}
    </div>
    {% endif %}

    {% include js.html %}
    <script>

      $('.page.dimmer:first')
        .dimmer('toggle');

      const gap_breaks = [
          2000, 4000, 6000, 8000, 10000,
          15000, 20000, 25000, 30000, 35000, 40000, 45000, 50000, 55000, 60000,
          70000, 80000, 100000, 150000, 200000, 9000000,
          "total"
      ];

      var max_merit = 35;
      const merit_bins = [10, 12, 14]
          .concat(Array(max_merit - 15 + 1).fill().map((_, idx) => 15 + idx))
          .concat([42]);

      function stats() {
        return {
          "counts": new Array(merit_bins.length).fill(0),
          "sum_merit": 0,
          "count": 0,
          "min": Infinity,
          "max": 0
        };
      }

      // TODO also group by year and discoverer.

      var interval_stats = {};
      for (gap of gap_breaks) {
        interval_stats[gap] = stats();
      }

      var year_stats = {};

      function add_stat(stats, gap, merit, bin) {
        stats["count"] += 1;
        stats["counts"][bin] += 1
        stats["sum_merit"] += merit;
        if (gap < stats["min"])
            stats["min"] = gap;
        if (gap > stats["max"])
            stats["max"] = gap;
      }

      $(document).ready(function() {
        $('.ui.dimmer').dimmer('show');
        $.when(
            $.get("https://raw.githubusercontent.com/primegap-list-project/primegap-list-project.github.io/master/_data/allgaps.csv")
        ).then(function(gapscsv) {

          var gapsarray = $.csv.toArrays(gapscsv);
          for (row of gapsarray) {
            var gap = parseInt(row[0], 10);
            var merit = parseFloat(row[7]);
            var year = parseInt(row[6]);

            var page_idx = gap_breaks.find(n => n > gap);
            var bin  = merit_bins.findIndex(m => m > merit);

            add_stat(interval_stats[page_idx], gap, merit, bin);
            add_stat(interval_stats["total"], gap, merit, bin);

            if (year > 0) {
              if (!year_stats[year])
                year_stats[year] = stats();
              add_stat(year_stats[year], gap, merit, bin);
            }
          };

          function table_elem() {
            var table = document.createElement("table");
            $(table).addClass("ui striped collapsing very compact small celled table");
            return table;
          }

          function table_part(type, text) {
            var el = document.createElement(type);
            if (type == "td" && text == 0) {
              text = "";
            }

            var label = document.createTextNode(text)
            el.appendChild(label);
            return el;
          }

          var h = document.createElement("thead");
          h.appendChild(table_part("th", "Gap start"));
          h.appendChild(table_part("th", "Gap end"));
          h.appendChild(table_part("th", "Count"));
          h.appendChild(table_part("th", "Avg"));

          for (bin of merit_bins) {
            h.appendChild(table_part("th", "<" + bin));
          }

          var b = document.createElement("tbody");
          for (page of gap_breaks.entries()) {
            var tr = document.createElement("tr");
            var p_stats = interval_stats[page[1]];
            var avg = p_stats["sum_merit"] / p_stats["count"];

            tr.appendChild(table_part("td", p_stats["min"]));
            tr.appendChild(table_part("td", p_stats["max"]));
            tr.appendChild(table_part("td", p_stats["count"]));
            tr.appendChild(table_part("td", avg.toFixed(3)));

            for (c of p_stats["counts"]) {
              tr.appendChild(table_part("td", "" + c));
            }

            b.appendChild(tr);
          };

          var interval = document.getElementById("intervals");
          var table = table_elem();
          table.appendChild(h);
          table.appendChild(b);
          interval.appendChild(table);
          interval.appendChild(document.createElement("br"));

          // By year of discovery
          h = document.createElement("thead");
          h.appendChild(table_part("th", "Year"));
          h.appendChild(table_part("th", "Min Gap"));
          h.appendChild(table_part("th", "Max Gap"));
          h.appendChild(table_part("th", "Count"));
          h.appendChild(table_part("th", "Avg"));

          for (bin of merit_bins) {
            h.appendChild(table_part("th", "<" + bin));
          }

          b = document.createElement("tbody");
          for (let year in year_stats) {
            var tr = document.createElement("tr");
            var p_stats = year_stats[year];
            var avg = p_stats["sum_merit"] / p_stats["count"];

            tr.appendChild(table_part("td", year));
            tr.appendChild(table_part("td", p_stats["min"]));
            tr.appendChild(table_part("td", p_stats["max"]));
            tr.appendChild(table_part("td", p_stats["count"]));
            tr.appendChild(table_part("td", avg.toFixed(3)));

            for (c of p_stats["counts"]) {
              tr.appendChild(table_part("td", "" + c));
            }

            b.appendChild(tr);
          };
          table = table_elem();
          table.appendChild(h);
          table.appendChild(b);
          interval.appendChild(table);

          $('.ui.dimmer').dimmer('hide');
        });

      });
    </script>
  </body>
</html>
